:root {
  --secondary-color: #03dac6;
  --reset-color: #ff0266;
  --background-color: #000;
  --text-color: #fff;
  --surface-color: #121212;
}

::-webkit-file-upload-button {
  background: #fff;
  color: #000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

button {
  background: #fff;
  color: #000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background: #000;
  color: #fff;
}

#saveImageBtn {
  background: var(--secondary-color);
  color: #000;
}

#resetImageBtn {
  background: var(--reset-color);
  color: #000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);

  font-family: "Roboto", sans-serif;

  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /*position: fixed;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: var(--surface-color);
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 1rem;
}

main {
  padding-top: 50vh;
  height: 110vh;
}

.editor {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  gap: 1rem;
}

.editor-image-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--surface-color);
  border-radius: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 70%;
}

.additional-tools-container {
  position: fixed;
  top: 0;
  left: 0;
  color: #000;
  border-radius: 5px;
}

.controlls {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  width: 100%;
  background-color: var(--surface-color);
  border-radius: 10px;
}

.tool-container input:hover {
  transform: scale(1.2);
  transition: transform 0.1s ease-in-out;
}

.tool-container input {
  transform: scale(1); /* Initial size */
  transition: transform 0.1s ease-out; /* Smooth transition for returning to original size */
}

.controlls .tool-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5vh;
}

.controlls .tools {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 60%;
}

.percentage {
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #fff;
  pointer-events: none; /* Ensure the percentage element doesn't interfere with slider interaction */
}

.effects-filters-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
  width: 40%;
}

.effects-filters-container:nth-child(n) {
  padding: 1rem;
}

.image-controlls-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  height: 5vh;
}

.image-controlls-container button {
  margin-right: 1rem;
}

#canvas {
  height: 50%;
}
